body {
  /* height: 40000px; */
  font-family: "Poppins", sans-serif;
}

/* Dropdown Hover */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.dropdown-item:hover {
  background-color: #ff6600;
  color: white;
}

/* Awal navbar transparan */
.navbar {
  transition: all 0.3s ease;
  padding: 1rem;
  font-weight: 600;
  height: 80px;
}
.navbar.transparent {
  background-color: transparent !important;
}
/* Saat di-scroll, ubah background */
.navbar.scrolled {
  background-color: white !important;
  padding: 0.7rem;
  font-weight: 600;
}

/* Default link awal */
.navbar-nav .nav-link {
  transition: color 0.3s ease;
  color: white;
}

/* Active di awal */
.navbar.transparent .nav-link.active {
  color: #ff6600 !important;
  font-weight: bold;
}

.navbar-brand {
  transition: all 0.3s ease;
  font-weight: 700;
}
.navbar.scrolled .navbar-brand {
  color: black !important; /* atau ganti logo/gambar */
}

/* Saat navbar sudah discroll */
.navbar.scrolled .nav-link {
  color: black;
}
.navbar.scrolled .nav-link:hover {
  color: #ff6600;
}
.navbar.scrolled .nav-link.active {
  color: #ff6600 !important;
}

.dropdown-item:hover {
  color: #ff6600;
  background-color: transparent;
}

/* berita */
/* .news-card img {
  object-fit: cover;
  height: 200px;
} */
/* .category-badge {
  background-color: #00ff00;
  color: white;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 5px;
} */
.sidebar-title {
  background: #ff6600;
  color: #fff;
  padding: 8px;
  font-weight: bold;
}
.nav-tabs .nav-link.active {
  background-color: #ff6600;
  color: white !important;
}

/* SELECTOR UNTUK CAROUSEL */
.carousel-item img {
  filter: brightness(60%);
}

.teks-hero {
  cursor: pointer;
  line-height: 30px;
  position: absolute;
  /* font-size: larger; */
  font-size: 1.5rem;
  font-weight: 600;
  bottom: 2rem;
  left: -4rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.teks-hero:hover {
  color: #ff6600;
}

/* SELECTOR UNTUK TANGGAL */
.carousel-caption .date a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 400;
  padding: 10px;
}

.carousel-caption .date {
  position: absolute;
  bottom: 0.3rem;
  left: -4.5rem;
}

.carousel-caption .date a:hover {
  color: #ff6600;
}

/* Tambahkan style khusus untuk icon */
.carousel-caption .date a i {
  color: white !important; /* Memaksa warna icon tetap putih */
}

/* selector badge kategori */
.carousel-caption .kategori {
  position: absolute;
  bottom: 8rem;
  left: -4rem;
  font-size: 11px;
  gap: 5px;
}

.carousel-caption .kategori a,
.kategori a {
  text-decoration: none;
  padding: 1px 5px;
  border-radius: 3px;
  font-weight: 200;
  background-color: #ff6600;
}

/* SELECTOR UNTUK TEKS CARD */
.card-title a {
  text-decoration: none;
  color: black;
}
.card-title a:hover {
  color: #ff6600;
  text-decoration: none;
}
.card-teks {
  position: relative;
  font-size: 15px;
  margin-top: -20px;
  margin-right: 20px;
}
.card-teks .date a,
.card-teks .date p {
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}
.card-teks .date p:hover {
  color: #ff6600;
}